:root {
    --tobo-white: #fff;
    --tobo-primary: #68bcf4;
    --tobo-secodary: #45abe9;
    --tobo-Q1: #9c72e4;
    --tobo-recruting: #64c0a8;
    --tobo-mobile: #f29e33;
    --tobo-web: #d863a0;
    --tobo-sales: #b0c926;
}

#logo-img{
    display: inline-block;
    vertical-align: middle;
}
#logo-text{
    display: inline-block;
    width: 500px;
}
.container-header{
    margin-bottom: 3rem;
}
.container-main{
    width: 50%;
    margin: auto;   
}

.task{
    border-radius: 10%;
    width: 100px;
    height: 50px;
    background-color: #68bcf4 ;
}
#add-section{
    border-radius: 10%;
    width: 300px;
    height: 40px; 
    text-align: center; 
}